/* ==[ color ]== */

$color-primary-dark: #dc0a23;
$color-primary: #ff8600;

$color-light-gray: #e8dddc;
$color-gray: #a6a7a8;

$color-aside-top: #f3eeee;
$color-aside-bottom: #c9d9eb;

$color-blue: #0787d0;
$color-light-blue: #f1f1f1;

$color-light-green: #8dc63f;

$color-white: #fff;