/* ==[ color ]== */

$color-primary-dark: #dc0a23;
$color-primary: #ff8600;

$color-red: #ed1c24;

$color-xlight-gray: #f2f2f2;
$color-light-gray: #e8dddc;
$color-gray: #a6a7a8;
$color-dark: #212121;
$color-xdark: #000;

$color-aside-top: #f3eeee;
$color-aside-bottom: #c9d9eb;

$color-blue: #0787d0;
$color-light-blue: #f1f1f1;

$color-light-green: #8dc63f;

$color-white: #fff;


$color-black: #212121;

// red shades
$palette-red: #ed1c24;
$palette-red-light: rgba(237, 28, 36, .4);
$palette-red-xlight: rgba(237, 28, 36, .2);

// blue shades
$palette-blue: #0787d0;
$palette-blue-light: rgba(7, 135, 208, .4);
$palette-blue-xlight: rgba(7, 135, 208, .2);

// green shades
$palette-green: #00C853;
$palette-green-light: rgba(0, 200, 83, .4);
$palette-green-xlight: rgba(0, 200, 83, .2);

// gray-color-paletter
$palette-xdarker: #bab8b9;
$palette-gray: #d1cfcf;
$palette-xgray: #e3e1e1;
$palette-semilight: #ebe8e9;
$palette-light: #f2f2f2;
$palette-lightest: #fcfcfc;
$palette-xlight: #fff;

// table
$palette-tbl-header: #f5f5f5;
$palette-tbl-row: #fafafa;

// border
$palette-border-lightest: #f2f2f2;
$palette-border-medium: #f5f5f5;
$palette-border-dark: #e5e5e5;

// text
$palette-text: #3d3b3c;
$palette-text-light: #949293;

// icon
$palette-icon-light: #bab8b9;
$palette-icon-dark: #949293;

// error code
$palette-err-light: #ffcccc;
$palette-err-dark: #cc0000;

// success message code
$palette-success-backdrop: #d4edda;
$palette-success-text: #155724;
$palette-success-border: #c3e6cb;
// error message code
$palette-err-backdrop: #f8d7da;
$palette-err-text: #721c24;
$palette-err-border: #f5c6cb;
// info message code
$palette-info-backdrop: #d1ecf1;
$palette-info-text: #0c5460;
$palette-info-border: #bee5eb;
// snackbar
$palette-snackbar-success-backdrop: rgb(37, 46, 57);
$palette-snackbar-success-text: rgba(255, 255, 255, .7);
$palette-snackbar-success-button-text: rgb(20, 167, 208);
$palette-snackbar-err-backdrop: #E0202F;
$palette-snackbar-err-text: rgba(255, 255, 255, .7);
$palette-snackbar-err-button-text: #fff;


$color-label-a: #f6a0a6;
$color-label-b: #e31836;
$color-label-c: #fbb567;
$color-label-d: #f47836;
$color-label-e: #e1d200;
$color-label-f: #7ac142;
$color-label-g: #007161;
$color-label-h: #5ec8a4;
$color-label-i: #781d7e;
$color-label-j: #b295c6;
$color-label-k: #ce7019;
$color-label-l: #ceaa7a;
$color-label-m: #f6a0a6;
$color-label-n: #e31836;
$color-label-o: #fbb567;
$color-label-p: #f47836;
$color-label-q: #e1d200;
$color-label-r: #7ac142;
$color-label-s: #007161;
$color-label-t: #445be5;
$color-label-u: #781d7e;
$color-label-v: #b295c6;
$color-label-w: #ce7019;
$color-label-x: #ceaa7a;
$color-label-y: #ceaa19;
$color-label-z: #887e6f;