<aside id="app-sidebar" class="app-sidebar">
	<div class="app-sidebar--overlay"></div>
	<div class="_app-sidebar">

		<div class="app-sidebar__branding">
			<a class="app-sidebar__branding-link" href="/">
				<img class="app-sidebar__branding-logo" src="<%- include('logo'); %>" alt="Core Personnel WA">
			</a>
		</div>

		<div class="app-sidebar__desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lorem diam. Suspendisse maximus augue et ipsum pharetra facilisis.</p>
		</div>

		<%- include('social-tray'); %>

	</div>
</aside>