<aside id="app-sidebar" class="app-sidebar">
	<div class="app-sidebar-overlay"></div>
	<div class="inner-wrapper">

		<div class="app-branding">
				<a class="app-home-link" href="/">
					<img src="<%- include('logo'); %>" alt="Core Personnel WA">
				</a>
		</div>

		<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lorem diam. Suspendisse maximus augue et ipsum pharetra facilisis.</p>
		</div>

		<%- include('social-tray'); %>

	</div>
</aside>