<div class="error-strip">
	<div class="error-strip__hide"></div>
	<ul class="error-strip__list">
		<li class="error-strip__list-item __0__">Timeout</li>
		<li class="error-strip__list-item __200__">Ok</li>
		<li class="error-strip__list-item __201__">Created</li>
		<li class="error-strip__list-item __204__">No Content</li>
		<li class="error-strip__list-item __401__">Unauthorized</li>
		<li class="error-strip__list-item __403__">Forbidden</li>
		<li class="error-strip__list-item __404__">resource not found</li>
		<li class="error-strip__list-item __422__">Unprocessable Entity</li>
		<!-- custom error message -->
		<li class="error-strip__list-item __custom__"></li>
	</ul>
</div>