<div class="error-strip">
	<div class="error-strip__hide"></div>
	<ul class="error-strip__list">
		<li class="error-strip__list-item __422__">422</li>
		<li class="error-strip__list-item __204__">other</li>
		<li class="error-strip__list-item __0__">Timeout</li>
		<li class="error-strip__list-item __404__">Api not connected</li>
	</ul>
</div>