<div id="popup-subscription-signup" class="popup-wrapper">
	<div class="popup-backdrop"></div>
	<div class="popup-content">
		<div class="popup-header">
			<p>Select a Subscription Plan</p>
		</div>
		<div class="popup-body">
			<ul class="select-subs-plan-list" data-selected="">
				<li>
					<i class="pictorial"></i>
					1Basic plan
				</li>
				<li>
					<i class="pictorial"></i>
					2Basic plan
				</li>
				<li>
					<i class="pictorial"></i>
					3Basic plan
				</li>
			</ul>
		</div>
		<div class="popup-footer">
			<a class="btn-save">Save</a>
		</div>
	</div>
</div>