<div id="popup-subscription-signup" class="popup-wrapper">
	<div class="popup-backdrop"></div>
	<div class="popup-content">
		<div class="popup-header">
			<p>Select a Subscription Plan</p>
		</div>
		<div class="popup-body">
			<ul class="tariff-header">
				<li class="name">Name</li>
				<li class="limit">Inductions</li>
				<li class="plan">Plan</li>
			</ul>
			<ul class="select-subs-plan-list" data-selected="">
				<!-- data will be added dynamically -->
			</ul>
		</div>
		<div class="popup-footer">
			<a class="btn-save">Save</a>
		</div>
	</div>
</div>