<div class="comp-header _clr_" *ngIf="isPreloaded"> 
	<h1 class="comp-header_title _comp-title_ _start_">All Inductions</h1>
	<div class="comp-header_options _end_ _dropdown-wrapper_">
		<button class="comp-header_options-action _dropdown_" #btnDropDown (click)="btnDropDownEvt(btnDropDown)">
			<span class="_text_">Manage Inductions</span>
			<i class="_symbol_ _symbol-darr--white_"></i>
		</button>
		<ul class="_dropdown-list_" #btnDropDownList>
			<li><a [routerLink]="['/induction/create']">Add Induction</a></li>
			<li><a [routerLink]="['/induction/categories']">Categories</a></li>
			<li><a>Import CSV</a></li>
			<li><a>Export CSV of all Inductions</a></li>
		</ul>
	</div>
</div>

<div class="comp-body" *ngIf="isPreloaded" id="testDiv">
	<div class="comp-body-null" *ngIf="!inductionList.length">
		Get started with creating your first induction
	</div>

	<div class="inductions">
		<div class="induction _clr_" *ngFor="let induction of inductionList">
			<figure class="induction-figure">
				
			</figure>
			<div class="induction-body">
				<span class="category">{{ induction?.category }}</span>
				<h2 class="induction-title">{{ induction?.name }}</h2>
				<div class="induction-meta">
					<div class="create-at"><span class="created-at-title">published</span> {{ induction?.createdAt }}</div>
				</div>
				<div class="induction-desc"></div>
				<ul class="induction-details">
					<li class="count-slide">
						<span class="dt">Slide</span>
						<span class="dd">{{ induction?.slideCount }}</span>
					</li>
					<li class="count-views">
						<span class="dt">Views</span>
						<span class="dd">{{ induction?.views }}</span>
					</li>
					<li class="count-completed">
						<span class="dt">Completed</span>
						<span class="dd">{{ induction?.completed }}</span>
					</li>
				</ul>
				<ul class="induction-nav">
					<li>
						<a class="btn-edit" [routerLink]="['/induction/edit/' + induction?._id]">Edit</a>
					</li>
					<li>
						<a class="btn-view" [routerLink]="['/induction/' + induction?._id]">View</a>
					</li>
					<li>
						<a class="btn-more" [matMenuTriggerFor]="menu">
						  <span class="textnode">More</span> 
						  <mat-icon>more_horiz</mat-icon>
						</a>
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="cloneInduction(induction?._id)">
						    <mat-icon>file_copy</mat-icon>
						    <span>Clone Induction</span>
						  </button>
						  <!-- <button mat-menu-item>
						    <mat-icon>person_add</mat-icon>
						    <span>Invite</span>
						  </button>
						  <button mat-menu-item>
						    <mat-icon>import_export</mat-icon>
						    <span>Export CSV</span>
						  </button> -->
						</mat-menu>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>