@import "../../../../partial/variable";

.comp-body {
	padding: 2rem;
	overflow: hidden;
}

.null-slide {
	padding: 1.6rem;
	background-color: $palette-err-backdrop;
	border: .1rem solid $palette-err-border;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
}
.null-slide p {
	font-size: 1.6rem;
	line-height: 1.2;
	font-weight: 400;
	color: $palette-err-text;
}

/*** [[[ create-slide-options ]]] ***/

.create-slide-options {
	margin-bottom: 3.2rem;
}
.create-slide-options .slide-option-ripple {
	padding: 4rem 1.6rem 4.5rem;
	margin-bottom: 2.4rem;
	text-align: center;
	border: .2rem dashed $palette-semilight;
	cursor: pointer;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	border-radius: 2rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.create-slide-options .mat-icon {
	width: 7rem;
	height: 7rem;
	font-size: 7rem;
	line-height: 7rem;
	color: $palette-xgray;
}
.create-slide-options .option-title {
	padding-top: 1rem;
	margin: 0;
	font-size: 1.8rem;
	line-height: 1;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-overflow: ellipsis;
	color: $palette-text;
	overflow: hidden;
	white-space: nowrap;
}
/*** _custom_ ***/
.create-slide-options .slide-option-ripple._custom_ {
	border-color: $palette-red-xlight;
}
.create-slide-options .slide-option-ripple._custom_ .option-title {
	color: $palette-red;
}
.create-slide-options .slide-option-ripple._custom_ .mat-icon {
	color: $palette-red-light;
}
.create-slide-options .slide-option-ripple._custom_ .mat-ripple-element {
	width: 2rem !important;
}
/*** _custom_ ***/
.create-slide-options .slide-option-ripple._import_ {
	border-color: $palette-blue-xlight;
}
.create-slide-options .slide-option-ripple._import_ .option-title {
	color: $palette-blue;
}
.create-slide-options .slide-option-ripple._import_ .mat-icon {
	color: $palette-blue-light;
}
/*** _quiz_ ***/
.create-slide-options .slide-option-ripple._quiz_ {
	border-color: $palette-green-xlight;
}
.create-slide-options .slide-option-ripple._quiz_ .option-title {
	color: $palette-green;
}
.create-slide-options .slide-option-ripple._quiz_ .mat-icon {
	color: $palette-green-light;
}

@media screen and (min-width: 700px) {

	.create-slide-options .create-slide-options {
		margin-left: -1%;
		margin-right: -1%;
	}
	.create-slide-options .slide-option-ripple {
		float: left;
		width: 31.33%;
		margin-left: 1%;
		margin-right: 1%;
	}

}

/*** .slide-header ***/

.slide-header {
	padding-bottom: 1rem;
	margin-bottom: 1.4rem;
	border-bottom: .1rem solid $palette-border-dark;
}

.slide-view {
	display: none;
}
/*** slide-count ***/
.-slide-search-control- {
	position: relative;
	width: 100%;
	margin-top: 1rem;
	overflow: hidden;
}
.slide-search-control {
	display: block;
	width: 100%;
	height: 3rem;
	padding: 0 0 0 3rem;
	line-height: 3rem;
	font-weight: 400;
	color: $palette-text;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.-slide-search-control- .material-icons {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 2.4rem;
	line-height: 3rem;
	color: $palette-gray;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.-slide-search-control- .busy {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 2.4rem;
	height: 3rem;
}
.-slide-search-control- .busy svg {
	width: 2.4rem;
	height: 3rem;
}
/*** button ***/
.slide-view button {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	border: .1rem solid $palette-semilight;
}
.slide-view button + button {
	margin-left: .4rem;
}
.slide-view .material-icons {
	width: 2.8rem;
	height: 2.8rem;
	font-size: 2.8rem;
	line-height: 1;
	color: $palette-semilight;
}
.slide-view button._active_ {
	border-color: $palette-xdarker;
}
.slide-view button._active_ .material-icons {
	color: $palette-xdarker;
}

/*** [[ sildes ]] ***/

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.sildes.cdk-drop-list-dragging .slide:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.slide-placeholder {
  background: $palette-yellow-xlight;
  border: dotted 3px $palette-yellow-xdark;
  min-height: 60px;
  -webkit-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.sildes:before {
	content: ' ';
	display: table;
}
.sildes:after {
	content: ' ';
	display: table;
	clear: both;
}
.sildes {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}
.slide {
	padding: 1rem;
	margin: 0;
	margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-white;
  border: .1rem solid $palette-semilight;
  cursor: move;
	-webkit-box-shadow: 0 1px 2px rgba(43,59,93,.29);
	-moz-box-shadow: 0 1px 2px rgba(43,59,93,.29);
	box-shadow: 0 1px 2px rgba(43,59,93,.29);
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	border-radius: .3rem;

	&.hide {
		display: none;
	}

	.slide-preview {
		display: flex;
		float: left;
		width: 14.2rem;
		height: 8rem;
		padding: 0;
		margin: 0;
		background-color: $palette-semilight;
		-webkit-border-radius: .3rem;
		-moz-border-radius: .3rem;
		border-radius: .3rem;
	}

	.slide-meta {
		display: flex;
		flex-grow: 1;
		width: auto;
		padding: .8rem 0 .8rem 1.2rem;
		text-align: left;
		overflow: hidden;
	}
	
	/* slide-title */
	.slide-title {
		margin: 0 0 .5rem;
		font-size: 2rem;
		line-height: 1.1;
		font-weight: 400;
	}
	
	/* created-at */
	.updated-at {
		display: block;
		font-size: 1.4rem;
		line-height: 1.4rem;
		font-weight: 500;
		text-overflow: ellipsis;
		color: $palette-text-light;
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
	}
	.updated-at-title {
		display: inline-block;
		padding-right: .4rem;
		font-size: 1.2rem;
		line-height: 1.4rem;
		text-transform: uppercase;
		font-weight: 300;
		vertical-align: top;
		color: $palette-xdarker;
	}
}

.slide-meta {
	position: relative;
	overflow: hidden;
}
.slide-meta-content {
	width: 100%;
	padding-left: 13.7rem;
	margin-left: -13.7rem;
	overflow: hidden;
}
.slide-meta-control {
	float: right;
	width: 13.2rem;

	button + button {
		margin-left: .6rem;
	}

	.btn-edit .mat-icon {
		color: $palette-success-text;
	}
	.btn-edit {
		background-color: $palette-success-backdrop;
		border: .1rem solid $palette-success-border;
	}

	.btn-clone .mat-icon {
		color: $palette-info-text;
	}
	.btn-clone {
		background-color: $palette-info-backdrop;
		border: .1rem solid $palette-info-border;
	}

	.btn-delete .mat-icon {
		color: $palette-err-text;
	}
	.btn-delete {
		background-color: $palette-err-backdrop;
		border: .1rem solid $palette-err-border;
	}
}

