<div *ngIf="isPreloaded">
	
	<div class="comp-header _clr_">
		<h1 class="comp-header_title _comp-title_">{{ routeData?.name }}</h1>
	</div>

	<div class="comp-body">

		<div class="create-slide-options _clr_">
			<div (click)="createSlide('custom')" class="slide-option-ripple _custom_" matRipple [matRippleColor]="rippleColorCustom">
			  <mat-icon aria-label="Custom Slide">line_style</mat-icon>
				<h3 class="option-title">Custom Slide</h3>
			</div>
			<div (click)="createSlide('import')" class="slide-option-ripple _import_" matRipple [matRippleColor]="rippleColorImport">
			  <mat-icon aria-label="Import slide(s)">input</mat-icon>
				<h3 class="option-title">Import slide(s)</h3>
			</div>
			<div (click)="createSlide('quiz')" class="slide-option-ripple _quiz_" matRipple [matRippleColor]="rippleColorQuiz">
			  <mat-icon aria-label="Quiz">live_help</mat-icon>
				<h3 class="option-title">Quiz</h3>
			</div>
		</div>

		<div class="null-slide" *ngIf="!routeData?.slides.length">
			<p>Slide is not available! Get started with creating your first slide form any of the above options.</p>
		</div>
		
		<div class="slide-header _clr_" *ngIf="routeData?.slides.length">
			<ul class="slide-view _clr_">
				<button mat-icon-button color="primary">
			    <mat-icon aria-label="Example icon-button with a heart icon">list</mat-icon>
			  </button>
				<button mat-icon-button color="primary" class="_active_">
			    <mat-icon aria-label="Example icon-button with a heart icon">view_column</mat-icon>
			  </button>
			</ul>

			<div class="-slide-search-control-" [ngClass]="{ 'pointer': search !== '' }">
				<span class="search-control" (click)="clearSearch(search)">
					<i class="material-icons" *ngIf="!search">search</i>
					<i class="material-icons" *ngIf="search">clear</i>
				</span>
				<input class="slide-search-control" type="text" placeholder="Start typing to search slides..." [(ngModel)]="search" (ngModelChange)="searchFn($event)">
			</div>
		</div>

		<div class="comp-aside slide-meta-aside _clr_" *ngIf="routeData?.slides.length">
			<div class="comp-aside_meta _start_" *ngIf="listedSlide === routeData?.slides.length">
				<strong>{{ listedSlide }}</strong> slide in total
			</div>
			<div class="comp-aside_meta _start_" *ngIf="listedSlide < routeData?.slides.length">
				<strong>{{ listedSlide }}</strong> out of {{ routeData?.slides.length }} slide is listed below
			</div>
			
			<div class="comp-aside_control _end_">
				<ul>
					<li>
						<a (click)="filterSlide('all')" 
							[ngClass]="{ 'active': filterSlideState === 'all' }">All
						</a>
					</li>
					<li>
						<a (click)="filterSlide('publish')"
							[ngClass]="{ 'active': filterSlideState === 'publish' }">Published
						</a>
					</li>
					<li>
						<a (click)="filterSlide('draft')"
							[ngClass]="{ 'active': filterSlideState === 'draft' }">Draft
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="slides-outer">
			<p *ngIf="">Can't find any relevant data based on your search query</p>
			<div 
				class="sildes" 
				*ngIf="routeData?.slides.length" 
				cdkDropList (cdkDropListDropped)="drop($event)">
				<div [ngClass]="{ 'hide': (slide.isVisible === false) || (slide.isSearched === false) }" class="slide" *ngFor="let slide of routeData?.slides" cdkDrag>
					<div class="slide-placeholder" *cdkDragPlaceholder></div>
					<figure 
						class="slide-preview">
					</figure>
					<div class="slide-meta _clr_">
						<div class="slide-meta-content">
							<div class="slide-title">
								{{ slide?.name }}
							</div>
							<div class="updated-at"><span class="updated-at-title">Updated</span> {{ slide?.updatedAt }}</div>
						</div>
						<div class="slide-meta-control">
							<button 
								class="btn-edit" 
								mat-icon-button 
								matTooltip="Edit"
								matTooltipPosition="above" 
								(click)="updateSlide(routeData?._id, slide?.template?._id, slide._id)">
						    <mat-icon aria-label="Edit Slide">border_color</mat-icon>
						  </button>
							<button 
								class="btn-clone" 
								mat-icon-button 
								matTooltip="Clone"
								matTooltipPosition="above">
						    <mat-icon aria-label="Clone Slide"
						    (click)="clone(slide._id)">library_add</mat-icon>
						  </button>
							<button 
								class="btn-delete" 
								mat-icon-button 
								matTooltip="Delete"
								matTooltipPosition="above">
						    <mat-icon aria-label="Delete Slide"
						    (click)="removeSlide(slide._id)">delete_forever</mat-icon>
						  </button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>