<div *ngIf="isPreloaded">
	
	<div class="comp-header _clr_">
		<h1 class="comp-header_title _comp-title_">Edit {{ editResolveData?.name }}</h1>
	</div>

	<div class="comp-body">

		<ul>
			<li>Create from template</li>
			<li>Clone a existing slide</li>
			<li>Import slide(s)</li>
		</ul>

		<div class="sildes">
			<div class="slide">
				<figure class="slide-preview"></figure>
				<div class="slide-meta">
					<div class="slide-title">
						<input type="text" value="Splash screen">
					</div>
					<small class="created-at">1 months ago</small>
				</div>
			</div>
			<div class="slide">
				<figure class="slide-preview"></figure>
				<div class="slide-meta">
					<div class="slide-title">
						<input type="text" value="Splash screen">
					</div>
					<small class="created-at">1 months ago</small>
				</div>
			</div>
			<div class="slide">
				<figure class="slide-preview"></figure>
				<div class="slide-meta">
					<div class="slide-title">
						<input type="text" value="Splash screen">
					</div>
					<small class="created-at">1 months ago</small>
				</div>
			</div>
			<div class="slide">
				<figure class="slide-preview"></figure>
				<div class="slide-meta">
					<div class="slide-title">
						<input type="text" value="Splash screen">
					</div>
					<small class="created-at">1 months ago</small>
				</div>
			</div>
			<div class="slide">
				<figure class="slide-preview"></figure>
				<div class="slide-meta">
					<div class="slide-title">
						<input type="text" value="Splash screen">
					</div>
					<small class="created-at">1 months ago</small>
				</div>
			</div>
		</div>

	</div>

</div>