<div class="comp-header _clr_">
	<h1 class="comp-header_title _comp-title_">Induction Categories</h1>
</div>

<div class="comp-filter _clr_">
	<div class="comp-filter_meta _start_">3 categories</div>
	<div class="comp-filter_control _end_">
		<form>
			<input type="search" name="" placeholder="Search your categories">
		</form>
	</div>
</div>

<div class="comp-body">
	<ul class="_table_">
		<li class="_row_ _row-head_">
			<div class="_column_ _column-cat_">Category</div>
			<div class="_column_ _column-induction_">Induction</div>
			<div class="_column_ _column-user_">User</div>
			<div class="_column_ _column-action_">Actions</div>
		</li>
		<li class="_row_">
			<div class="_column_ _column-cat_">
				<a [routerLink]="['/induction']" [queryParams]="{cat:'manager'}">Manager</a>
			</div>
			<div class="_column_ _column-induction_">1</div>
			<div class="_column_ _column-user_">2</div>
			<div class="_column_ _column-action_">
				<ul>
					<li><a class="action-btn action-btn--edit"></a></li>
					<li><a class="action-btn action-btn--remove"></a></li>
				</ul>
			</div>
		</li>
		<li class="_row_">
			<div class="_column_ _column-cat_">
				<a [routerLink]="['/induction']" [queryParams]="{cat:'employee'}">Employee</a>
			</div>
			<div class="_column_ _column-induction_">&ndash;&ndash;</div>
			<div class="_column_ _column-user_">&ndash;&ndash;</div>
			<div class="_column_ _column-action_">
				<ul>
					<li><a class="action-btn action-btn--edit"></a></li>
					<li><a class="action-btn action-btn--remove"></a></li>
				</ul>
			</div>
		</li>
		<li class="_row_">
			<div class="_column_ _column-cat_">
				<a [routerLink]="['/induction']" [queryParams]="{cat:'contractor'}">Contractor</a>
			</div>
			<div class="_column_ _column-induction_">1</div>
			<div class="_column_ _column-user_">2</div>
			<div class="_column_ _column-action_">
				<ul>
					<li><a class="action-btn action-btn--edit"></a></li>
					<li><a class="action-btn action-btn--remove"></a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>

<div class="comp-complement">	
	<form #addCatForm="ngForm" (ngSubmit)="addCategoryForm(addCatForm)">
		<label for="control-add-category">Add new category</label>
		<div class="input-action-inline">
			<input type="text" name="newCategoryName" id="control-add-category" placeholder="Category name" ngModel>
			<button type="submit" class="">
				<span class="text">Add category</span>
				<span class="busy">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-dual-ring" style="animation-play-state:running;animation-delay:0s;background:0 0"><circle cx="50" cy="50" fill="none" stroke-linecap="round" r="40" stroke-width="4" stroke="#ed1c24" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(288.79 50 50)" style="animation-play-state:running;animation-delay:0s"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"/></circle></svg>
				</span>
			</button>
		</div>
	</form>
</div>