<!DOCTYPE html>
<head>
  <title>home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	 
body{font-family: LatoLight,open-sans,sans-serif; margin:0;padding:0;}
*, *:before, *:after {box-sizing: border-box;}
html, body {height: 100vh;}

/*header*/
header{
 /* position:absolute;*/
/*  top:0;
  left:0;*/
  padding:0 50px;
  background:#f8f8f8;
  width:100%;
  box-sizing:border-box;
  }

.main {
display: table;
width: 100%;
}
.logo {
display: table-cell;
/* float:left;*/
width: 80%;
}
nav.nav-h {
display: table-cell;
width: 18%;
vertical-align:middle;
}
.btn_register {
display: table-cell;
}
a.btn1 {
background-color: #ED1B1A;
padding: 12px 25px 12px 25px;
border-radius: 50px;
color: #fff;
text-decoration: none;
border: 2px solid #ED1B1A;
}
a.btn1:hover {
background: #fff;
border: 2px solid #ED1B1A;
color: #000;
}
a.btn2 {
background-color: #fff;
padding: 12px 40px 12px 40px;
border-radius: 50px;
color: #000;
text-decoration: none;
border: 2px solid #ED1B1A;
margin-left: 20px;
}
a.btn2:hover{

background-color: #ED1B1A;
color: #fff;
border: 2px solid #ED1B1A;
}

/*footer*/
 .pad5{padding: 5% 3%}
  .img2{width:100%;  background:url(/web-assets/images/dfd.png) center/ 100% 100%;color:white;}
  .foot{font-size: 15px!important; letter-spacing:1px;}
  .wid-10{width:100%;}
.foot2{background:#2b1a1a; text-align:center;}
.f-h1{margin:0;line-height: 45px;color: burlywood;}
.clr-r{color:#e72a24;}
.mrg0{margin:0 auto;}
.wid-3{width:32.7%;  padding: 25px 50px;}
 .cent-t{text-align:center!important;}
   .ft1{padding:0 2%;}
 .wid-03{width:32.7%;}
.tab{display:table}
.tabc{display:table-cell;}
i.fa.fa-linkedin.fa-2x {
background: #007ab9;
border-radius: 100px;
line-height: 46px;
text-align: center;
font-size: 25px;
width: 44px;
height: 44px;
margin-right: 10px;
color: #fff;
}
i.fa.fa-twitter.fa-2x {
background: #55acef;
border-radius: 100px;
line-height: 46px;
text-align: center;
font-size: 25px;
width: 44px;
height: 44px;
margin-right: 10px;
color: #fff;
}
i.fa.fa-facebook.fa-2x {
background: #3b5999;
border-radius: 100px;
line-height: 46px;
text-align: center;
font-size: 25px;
width: 44px;
height: 44px;
margin-right: 10px;
color: #fff;
}
ul.ftr_wid {
padding-left: 0px !important;
}
ul.ftr_wid li {
display: table-cell;
}








/*had1*/
.had1{width:100%; display:table; background:#000;}
.had0{width:37%; display:table-cell; vertical-align:middle; color:#fff; padding: 3%; font-size: 25px;}
.had0 h1{font-weight:500;}
.had00{width:62%; display:table-cell; line-height: 0px;}
.img01{
  width:100%; 
  background-repeat:no-repeat;
   background:url(/web-assets/images/cap.jpg) center/ 100% 100%;
 }
.hed{
  text-align:center;
   font-size:50px;
    font-weight: normal;
     letter-spacing: 2px;
   }
.btn{    font-weight: 800;
    line-height: 43px;
    padding: 0 20px;
    background: transparent;
    color: #fff;
    border-color: red;
    border-radius: 25px;
   cursor: pointer;}
   .btn:hover{
    background-color: #ED1B1A;
    border: 2px solid #ED1B1A;
   }

/*had2*/
.had2{
  width:100%; 
   padding:4%;  
  line-height: 26px;
  letter-spacing: 1px;
}
.had02{
  width:100%;
   display:table;
 }
.had002{
  width:60%;
   padding:0 2%; 
   display:table-cell; 
    vertical-align:middle;
  }
.had0002{
  width:40%; 
  padding:0 2%;
   display:table-cell;
 }
.hed2{
  font-size:40px!important;
    font-weight: normal!important;
     letter-spacing: 2px; 
     margin:0!important;
   }


/*had3*/
.had3{
  width:100%;
   padding:4%; 
   text-align:center;
 }
.had03{
  width:100%; 
  display:table; 
}
.had003{
  width:30%; 
  display:table-cell;
  padding:3% 2%;
}
.hed1{font-size:44px!important; 
 font-weight: normal!important; 
/* letter-spacing: 2px; */
 margin:0!important;
} 

/*had4*/
.had4{
  width:100%;
  display:table;
}
.had04{
  width:49%; 
  display:table-cell;
   background:#c4ddf3; 
   color:#5f666d; 
   padding:3% 4%;
 }
.had004{
  width:49%; 
  display:table-cell; 
  background:#96bada; 
  color:#eef1f5; 
  padding:3% 4%;
}
ul.list1 li:before {
content: "\2713";
position: absolute;
left: 64px;
font-size: 23px;
font-weight: 800;
}

ul.list1 {
list-style-type: none;
}
ul.list1 li {
line-height: 35px;
}

ul.list2 li:before {
content: "\2713";
position: absolute;
font-size: 23px;
font-weight: 800;
right:44%;
}



ul.list2 {
list-style-type: none;
}
ul.list2 li {
line-height: 35px;
}

/*had5*/
.had5{width:100%; text-align:center; color:#5f666d; padding:8%;}


/*Extra*/
/*.mrg2{margin-top:6%;}*/
 
    .cent-t{text-align:center!important;}
    

/*middle-table-price-table*/
.pric_tbl {
display: block;
width: 80%;
margin:0 auto;

}
/*table-1*/

    .tbl_1 hr {
border: none;
width: 100%;
height: 56px;
margin-top: 0;
box-shadow: 0 20px 7px -20px #eb0303;
margin: -54px auto 3px;
}
.tbl_1 {
background: #870b0d;
padding:15px;
border-radius: 10px;
text-align: center;
color: #fff;
height: 400px;
}
a.btn3 {
color: #fff;
text-decoration: none;
padding: 12px 30px 12px 30px;
border: 2px solid;
border-radius: 50px;
line-height: 45px;
}

.btn3{
margin-top:2%;}

a.btn3:hover {
background-color: #e72a24;
color: #333333;
text-decoration: none;
border: 2px solid #e72a24;
}


/*table-2*/

.tbl_2 hr {
border: none;
width: 100%;
height: 56px;
margin-top: 0;
box-shadow: 0 20px 7px -20px #f80207;
margin: -54px auto 3px;
}
 .tbl_2 {
background: #dc0a23;
padding: 5px;
border-radius: 10px;
text-align: center;
color: #fff;
height: 490px;
margin-left: -5px;
margin-right: -5px;
vertical-align: bottom;
}
.column-hover-effect {
width: 33%;
display: inline-block;
}

.column-hover-effect:hover{
transform: scale(1.1);
z-index: 200;
}


@media only screen and (max-width: 768px) {

header {
padding: 0 !important;
width: 100% !important;
height: 135px;
}

.had0 {
width: 100% !important;
display: table !important;
font-size:25px !important;}

/* {
width: 100%;
display: table;}*/

.main {
display: table !important;
width: 90% !important;
text-align: center !important;
margin: 0 auto !important;
}

/* {
width: 100%;}*/

/* {
width: 100%;
display: table;
}*/

/*{
width: 100%;
display: table;
}*/

.had03, .had04, .had0002 , .had002, .had02, .had004 , .had003, nav.nav-h, .had00{
width: 100% !important;
display: table !important;
}

.column-hover-effect {
width: 100% !important;
display: block !important;
margin-bottom:5% !important;
}

.had0{text-align:center;}
.had0 h1 {
    font-size: 35px;
    line-height: 42px;
}
/*{
width: 100%;
display: table;}
*/
ul.list1 li:before, ul.list2 li:before{
left:28px !important; right:auto !important;}

/*{
left:28px;}*/


.had5, .wid-03, .had2 {
width: 100% !important;
}
.logo {
display: table;
width: 100%;
}

.tabc{
  display:table !important;
}
.hed{
    font-size: 40px;
    line-height: 52px;
  }
.hed1{
  font-size:40px !important;
  line-height:45px;
} 
/*{
display: table;
width: 100%;}
*/
/* {
width: 100%;
}*/

}
</style>
</head>
<body>
  
 <header>
 <div class="main">
 	<div class="logo"><a href="/"><img  src="/web-assets/images/logo.png"/></a>
 	</div>
	
	
	
 	 <nav class="nav-h">
 		<div class="btn_register">
	<a class="btn1" href="/signup">REGISTER</a>
	</div>
	<div class="btn_register">
	<a class="btn2" href="/login">LOGIN</a>
	</div>

 		

</div>
</div>

 </header> <div class="had1">
    <div class="had0"><h1>Develop Safety<br> induction<br> With our platform</h1>
      <button class="btn cent-t danger ">GET STARTED</button></div>
    <div class="had00 ">
      <img src="/web-assets/images/cap.jpg" width="100%" height="100%">
    </div>
 </div>

<div class="had2">
  <h1 class="hed">Welcome to Induct Train</h1>
  <div class="had02">
    <div class="had002"><p>Are all of your people inducted correctly according to workplace law? Is there consistency in your inductions, training and on-boarding process? Are you relying on external resources to develop material that is generic and non-engaging? Induct Train will open up a whole new approach to inductions and training saving you time while providing a consistent and professional image to employees, customers and contractors.</p>

<p>Get started now with our free 30 day trial. No credit card required and you have full access to our online induction development immediately.</p>

<p>Whether you required an inductions for employees and contractors or even a welcome to the organisation induction, you easily design your own programs that are specific to you organisation, industry or department.</p>

<p>Sign up now for the 30 day trial and see how easy it is to design inductions that meet legislative requirements in your jurisdiction.</p></div>
    <div class="had0002"><img src="/web-assets/images/a1.png" width="100%"/></div>
  </div>
 </div>


<div class="had3">
  <div class="hed1"><p >Our Best Services Offered for you</p></div>
  <div class="had03">
    <div class="had003">
      <img src="/web-assets/images/ac.png" width="25%"/>
       <h2>Drag n Drop</h2>
       <p>Substantial fines and gaol terms for gross negligence are becoming more commonplace.</p>
    </div>
    <div class="had003">
       <img src="/web-assets/images/ad.png" width="25%"/>
       <h2>Drag n Drop</h2>
       <p>Substantial fines and gaol terms for gross negligence are becoming more commonplace.</p>
    </div>
    <div class="had003">
      <img src="/web-assets/images/af.png" width="25%"/>
       <h2>Drag n Drop</h2>
       <p>Substantial fines and gaol terms for gross negligence are becoming more commonplace.</p>
    </div>
  </div>
 </div>

 <div class="pric_tbl">
  <div class="column-hover-effect">
 
 <div class="tbl_1">
 <h1 class="shad3">Starter</h1>
 <hr>
 <h1>$100</h1>
 
 <p>Lorem Ipsum is simply dummy text</p>
  <p>Lorem Ipsum is simply dummy text</p>
   <p>Lorem Ipsum is simply dummy text</p>
   <br>
   
   <a href="#" class="btn3">REGISTER NOW</a>
 
 
 
 </div>
 
 </div>
   <div class="column-hover-effect">
 <div class="tbl_2">
 <h1 class="shad3">Recommended</h1>
 <hr>
 <h1>$200</h1>
 
 <p>Lorem Ipsum is simply dummy text</p>
  <p>Lorem Ipsum is simply dummy text</p>
   <p>Lorem Ipsum is simply dummy text</p>
   
   <p>Lorem Ipsum is simply dummy text</p>
  <p>Lorem Ipsum is simply dummy text</p>
   <p>Lorem Ipsum is simply dummy text</p>
   
   
   <br>
   <a href="#" class="btn3">REGISTER NOW</a>
 
 
 </div>
 
 </div>
   <div class="column-hover-effect">
 <div class="tbl_1">
 <h1 class="shad3">Premium</h1>
 <hr>
 <h1>$500</h1>
 
 <p>Lorem Ipsum is simply dummy text</p>
  <p>Lorem Ipsum is simply dummy text</p>
   <p>Lorem Ipsum is simply dummy text</p>
   
   <br>
   <a href="#" class="btn3">REGISTER NOW</a>
 </div>
 </div>
 
 </div>

 

<div class="had2">
  <h1 class="hed">About Us</h1>
  <div class="had02">
      <div class="had002"><p>Workplace health and safety is everyone’s prime responsibility and government agencies are continually reviewing laws that have a greater impact not only on the organisation but on business owners and employees alike.  Substantial fines and gaol terms for gross negligence are becoming more commonplace.</p>
      <p>To help meet these challenges Induct Train is user friendly with functionality the makes developing new programs or keeping up with compliance with existing inductions or training easy and efficient.  We want you to be able to respond to any changes in your workplace immediately to ensure consistency throughout your organisation.  You will have no need to wait for third party services to help you keep abreast of change, not matter how often this may occur. We have put you in the driver’s seat so that you remain nimble and responsive in meeting your induction and training obligations.  </p></div>
    <div class="had0002"><img src="/web-assets/images/a2.png" width="100%"/></div>
  </div>

  <div class="had02">
     <div class="had0002"><img src="/web-assets/images/a3.png" width="100%"/></div>
    <div class="had002"><p>We have ensured that each engagement is engaging and interactive.  You can include videos, photos and files from you own workplace or other sources ensuring that your presentations are factual and relevant to your business.  No more boring non-related videos and questionnaires that don’t achieve your desired outcomes. Induct Train will streamline your system and keep you up to date and provide evidence of compliance after each successful completion.</p>
    <p>In addition, you can add your own quiz questions that match your environment and drill down to what makes your organisation unique.  Induct Train will allow you to monitor results enabling you to identify where improvements or changes are required and make them immediately</p></div>
  </div>

  <div class="had02">
    <div class="had002"><p>Imagine how effective it will be to have consistency across your organisation no matter where you employees may be.  You will be able to adapt your inductions to laws that apply in your jurisdiction, develop inductions or training for specific tasks, accommodate individual department requirements or specialised processes performed by one or many operators throughout the organisation.</p>
    <p>Induct Train is a dynamic and valuable management tool that meets the challenge of continuous improvement in today’s fast paced business world. Employers and employees notice the difference between organisations that remain the same and those that keep abreast of change.  Induct Train will not only streamline you induction and training processes but project a positive image to employers and employees alike.</p></div>
    <div class="had0002"><img src="/web-assets/images/a4.png" width="100%"/></div>
  </div>
 </div>

<div class="had4">
  <div class="had04">
     <h2>HOW IT WORKS</h2>
     <P>Once you have decided which level of service that suits you needs best (or started our free 30 day trail) you will be to log on to Induct Train and go to your dash board and begin developing your unique induction for training program. When these are in place you are ready to invite employees to begin the online induction.
    The users will find the whole process very easy to use with the following steps;</P>
 <ul class="list1">
  <li>They register with a password;</li>
  <li>They then begin the induction itself;</li>
  <li>Questions are answered. You decide on action of how incorrect answers are handled; and,</li>
  <li>When all questions have been answered correctly, a certificate is emailed to the user and you HR department.</li>
</ul>
  <p>Your dashboard will show the users who have been invited to complete inductions and those that have successfully completed so you are always up to date and compliant.</p>
  </div>
  <div class="had004">
    <h2>HOW YOU WILL BE BENEFIT</h2>
      <P>You can stop relying on basic and inconsistent inductions using Induct Train. It provides you with inductions and training programs designed by you which are always up to date and tailor made for your particular industry or tasks.</P>
      <h3>Benefits include:</h3>
  <ul class="list2">
    <li>Simple for users to use</li>
    <li>Instantly revised to reflect changes in the workplace</li>
    <li>Users and your nominated person receive a certificate of successful completion</li>
    <li>Ability to control the way incorrect answers are handled by the system</li>
    <li>Consistency across your organisation regardless of the number of locations</li>
    <li>Include your own data such as pictures, videos, files and questions throughout the induction</li>
    <li>Your dashboard records outstanding inductions</li>
    <li>Users respond to interactive content which is specific to your organisation</li>
  </ul>
  </div>
</div>

<div class="had5">
    <h1 class="hed1">Try Our Free 30 Days Trail</h1>
  <h3 class="">We recommended you try our free 30 days trail period to help you<br/> assess which package will be best for your organisation</h3>
</div>

  
<div class="foot wid-10 img2 pad5">
	<div class="cent-t"><img style="margin:0 auto" src="/web-assets/images/logo.png" /></div><br/>
	<div class="tab">
	<div class="ft1 tabc wid-03">Whether you required an inductions for employees and contractors or even a welcome to the organisation induction, you easily design your own programmes that are specific to you organisation, industry or department.</div>
	<div class="ft1 tabc  wid-03"><h3>Our Address</h3>
		<p></p>Suite 7, 30 Enterprise Crescent <br>Malaga
Perth, Western Australia 6090</div>
	<div class="ft1 tabc  wid-03">
		<h3>Follow Us</h3>
		<ul class="ftr_wid"> 
		<li><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
		<li> <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a></li>
		<li> <a href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> </a></li>
	</div>
</div>
</div>
<div class="wid-10 foot2">
	<h5 class="f-h1">©  INDUCT TRAIN 2018. ALL RIGHTS RESERVED</h5>
</div>  

</body>
</html>