<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<div class="app">
			<%- include('../partials/aside'); %>

			<main id="main" class="app__main app__main--form">
				<div class="app__main--form-overlay"></div>
				<div class="_app__main--form">

					<header class="app__main--form__header">
						<h1 class="app__main--form__header-title">Sign In to <strong>CorePersonnel&nbsp;WA</strong></h1>
					</header>

					<div class="-form--login">
						<form id="form--login" class="form form--login" novalidate>
							<div class="_form--login">
								<div class="form--login__input -email">
									<label for="form--login__input-email">Email Address</label>
									<input type="email" id="form--login__input-email" placeholder="Registered Email">
									<div class="-err-list">
										<ul class="err-list">
											<li class="err-list--required">This field is required</li>
											<li class="err-list--pattern">This email is not valid</li>
										</ul>
									</div>
								</div>
								<div class="form--login__input -pwd _pb2_">
									<label for="form--login__input-pwd">Password</label>
									<input type="password" id="form--login__input-pwd" placeholder="Minimum 8 characters long">
									<div class="-err-list">
										<ul class="err-list">
											<li class="err-list--required">This field is required</li>
											<li class="err-list--minlength">Your password should be at least 8 characters long</li>
										</ul>
									</div>
								</div>
								<div class="form-login__reset-pwd _pb2_">
									<p>Forget Password? <a href="#">Click Here</a></p>
								</div>
								<div class="form--login__submit">
									<button type="button" id="form--login__submit-btn" data-state="idle">
										<div class="btn--idle">Get Started</div>
										<div class="btn--busy">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-dual-ring" style="animation-play-state:running;animation-delay:0s;background:0 0"><circle cx="50" cy="50" fill="none" stroke-linecap="round" r="40" stroke-width="4" stroke="#fff" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(288.79 50 50)" style="animation-play-state:running;animation-delay:0s"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"/></circle></svg>
										</div>
									</button>
								</div>
							</div>
						</form>
					</div>
					
				</div>
				<div class="app__main--form-compliment">
					<p>Don't have an account? <a href="/signup">Register Here</a></p>
				</div>
			</main>
			
			<footer class="app__footer">
				<%- include('../partials/footer'); %>
			</footer>
		</div>
		<%- include('../partials/popup-subscription-plan'); %>
	</body>
</html>