@import "../../../../partial/variable";

.comp-aside {
	padding-bottom: 1rem;
	margin-bottom: 3.2rem;
	border-bottom: .1rem solid $palette-semilight;
}

/*** meta-data ***/

.comp-aside_meta {
	display: block;
	width: auto;
	padding: 0;
	overflow: hidden;
}


/* *** 
	[[[ breadcrumb ]]]
  *** */

.comp-aside_meta li {
	position: relative;
	float: left;
	padding-top: .2rem;
	font-size: 1.3rem;
	line-height: 1;
	font-weight: 400;
	color: $palette-text-light;
}
.comp-aside_meta li + li {
	padding-left: 1.7rem;
}
.comp-aside_meta li + li:before {
	content: '>';
	position: absolute;
	left: .8rem;
	bottom: .1rem;
	display: inline;
	font-size: 1.4rem;
	line-height: .7;
	font-weight: 400;
	color: $palette-xdarker;
}
.comp-aside_meta li a,
.comp-aside_meta li a:hover {
	display: block;
	margin-top: -.1rem;
	font-size: 1.5rem;
	line-height: 1;
	color: $palette-text;
}

/*** publish/draft ***/

.save-as-text {
	display: inline-block;
	padding-right: 1rem;
	font-size: 1.5rem;
	line-height: .8;
	font-weight: 400;
	color: $palette-text;
	vertical-align: baseline;
}

/*** form basic settings ***/

.control-wrapper {
	padding-bottom: 3rem;
}
input[disabled] {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none;
}

/* *** 
	[[[ form-interaction ]]]
  *** */

.form-interaction button {
	height: 4rem;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 1;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.form-interaction button[disabled] {
	cursor: default;
}
.form-interaction .primary-action-btn {
	float: right;
	width: 14rem;
	padding-right: .5rem;
	padding-left: .5rem;
	margin-left: .8rem;
	background-color: $palette-green;

	&.btn-draft {
		background-color: $palette-yellow-dark;
		color: $palette-text;
	}

	.lazy {
		display: block;
		height: 4rem;
		padding-top: .5rem;
	}
	.lazy svg {
		width: 3rem;
		height: 3rem;
	}
}
.form-interaction .complementary-btn-grp {
	float: right;

	.preview-btn {
		background-color: $palette-light;
		color: $palette-text;
	}

	.preview-btn {
		background-color: $palette-light;
		color: $palette-text;
	}
}

.form-interaction {
	.mat-mini-fab {
		background-color: $palette-err-backdrop;

		.mat-icon {
			color: $palette-err-text;
		}
	}
}


.editor-shell {
	/*** [[[ editor-header ]]] ***/
	.comp-header {
		padding: 1rem 1.6rem;
	}

	/* form */
	.editor-header form {
		float: left;
		max-width: 27rem;
	}
	.editor-header input {
		display: block;
		width: 100%;
		height: 3.7rem;
		padding: 0 1rem;
		font-size: 1.5rem;
		line-height: 3.7rem;
		font-weight: 400;
		background-color: transparent;
		color: $palette-text;
		border: .1rem solid $palette-gray;
		-webkit-border-radius: .5rem;
		-moz-border-radius: .5rem;
		border-radius: .5rem;
		-webkit-transition: all .14s ease-out;
		-moz-transition: all .14s ease-out;
		-ms-transition: all .14s ease-out;
		-o-transition: all .14s ease-out;
		transition: all .14s ease-out;
	}
	.editor-header input:hover,
	.editor-header input:focus {
		background-color: $palette-light;
	}

	/* saveAs */
	.save-as {
		margin-top: .8rem;
	}
}


/*** [[[ editor-header ]]] ***/

.editor-shell {
	.editor-body {
		padding: 1rem 1.6rem 0;
	}
}


/*** [[[ editor-control ]]] ***/

.editor-shell {
	.editor-control {
		padding-right: 1.6rem;
		padding-left: 1.6rem;
	}
}