@import "../partial/variable";
@import "../partial/image";

.app-primary {
	margin-left: 20rem;
	overflow: hidden;
}

@media screen and (min-width: 1100px) {
	.app-primary {
		margin-left: 25rem;
	}
}

/*** [header] ***/

.header {
	height: 6.7rem;
	border-bottom: .1rem solid $color-light-gray;
	overflow: hidden;

	.-header- {
		padding: 1.3rem 1.6rem;
	}

	/*** .header_collapsible-menu ***/

	.header_collapsible-menu {
		float: left;
		width: 3rem;
		height: 4.1rem;
		background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjYgMjYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI0LjI1IDEyLjI1SDEuNzVhLjc1Ljc1IDAgMCAwIDAgMS41aDIyLjVhLjc1Ljc1IDAgMCAwIDAtMS41em0tMjIuNS00LjVoMjIuNWEuNzUuNzUgMCAwIDAgMC0xLjVIMS43NWEuNzUuNzUgMCAwIDAgMCAxLjV6bTIyLjUgMTAuNUgxLjc1YS43NS43NSAwIDAgMCAwIDEuNWgyMi41YS43NS43NSAwIDAgMCAwLTEuNXoiIGZpbGw9IiNhNmE3YTgiLz48L3N2Zz4=) no-repeat center center;
		background-size: contain;
		cursor: pointer;
	}
	
	/*** header_user ***/

	.header_user {
		position: relative;
		float: right;
		width: 6.5rem;
		cursor: pointer;
	}
	/* header_user-figure */
	.header_user-figure {
		width: 4rem;
		height: 4rem;
		background: #f2f2f2 none no-repeat center center;
		background-size: cover;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}
	/* header_user-symbol */
	.header_user-symbol {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		margin: auto 0;
		background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNjAgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTU5IDFMMzAgMzAgMSAxIiBzdHJva2U9IiNhNmE3YTgiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==) no-repeat center center;
		background-size: cover;
	}
}


/* ===============================================
   SIDEBAR
   =============================================== */

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 20rem;
	background: $color-aside-top;
	background: -moz-linear-gradient(top, $color-aside-top 0%, $color-aside-bottom 100%);
	background: -webkit-linear-gradient(top, $color-aside-top 0%, $color-aside-bottom 100%);
	background: linear-gradient(to bottom, $color-aside-top 0%, $color-aside-bottom 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-aside-top', endColorstr='$color-aside-bottom',GradientType=0 );
}

/*** [ branding ] ***/

.sidebar_branding {
	position: relative;
	display: block;
	height: 6.7rem;
	padding: 1rem;
	background-color: #f3eeee;
	border-bottom: .1rem solid #fff;
	overflow: hidden;
	cursor: pointer;

	&._wordmark {
		.sidebar_branding-wordmark {
			display: block;
		}
	}

	&._symbol {
		.sidebar_branding-symbol {
			display: block;
		}
	}

	&._wordmark._symbol {
		.sidebar_branding-wordmark,
		.sidebar_branding-symbol {
			display: block;
		}
	}
}
[class^="sidebar_branding-"] {
	position: absolute;
	top: 1rem;
	right: 1rem;
	bottom: 1rem;
	left: 1rem;
	z-index: 5;
	display: none;
	height: 4.7rem;
	overflow: hidden;
}
.sidebar_branding-wordmark {
	font-size: 2rem;
	line-height: 4.7rem;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.sidebar_branding-symbol {
	max-width: 80%;
	margin: auto;
	background: $logo-full no-repeat center center;
	background-size: contain;
}

/*** [sidebar_nav] ***/

.sidebar_nav {
	padding: 2rem 1rem;
}
.sidebar_nav li + li {
	margin-top: 1rem;
}
.sidebar_nav-item-link {
	position: relative;
	display: block;
	min-height: 4.2rem;
	padding: 1.3rem 0 .7rem 4rem;
	color: $color-primary;

	&:hover {
		color: $color-primary-dark;
	}

	.title {
		display: block;
		font-size: 1.8rem;
		line-height: 2.2rem;
		text-transform: capitalize;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
.sidebar_nav .symbol {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 3.2rem;
	height: 3.2rem;
	margin: auto 0;

	svg {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&.__lock svg g {
		stroke: $color-primary;
	}
}

/* hover */

.sidebar_nav-item-link:hover {
	.__lock svg g {
		stroke: $color-primary-dark;
	}
}


/*** [ _collapse ] ***/

._collapse .app-primary {
	margin-left: 6rem;
}

._collapse .sidebar {
	max-width: 6rem;

	/*** branding ***/

	.sidebar_branding-symbol {
		max-width: 60%;
		background-image: $logo-small;
	}
	
	/* .sidebar_nav */

	.sidebar_nav {
		padding-right: 0;
		padding-left: 0;

		.sidebar_nav-item-link {
			width: 6rem;
			padding: 0;
		}

		.title {
			display: none;
		}

		.symbol {
			right: 0;
			width: 100%;
			height: 3.2rem;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

@media screen and (min-width: 1100px) {
	.sidebar {
		max-width: 25rem;
	}
	
	.sidebar_nav {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

/* ==============================
   MAIN
   ============================== */

.main {
	padding: 1.6rem;
}