<div class="app-wrapper" [ngClass]="{ '_collapse': collapseSidebar === true }">

	<aside id="sidebar-left" class="sidebar _tweening_">
		<div class="-sidebar-">
			
			<a class="sidebar_branding _symbol" [routerLink]="'./dashboard'">
				<span class="sidebar_branding-symbol"></span>
				<span class="sidebar_branding-wordmark">Core Personnel WA</span>
			</a>
			
			<div class="sidebar_nav">
				<ul class="sidebar_nav-list">
					<li class="sidebar_nav-item">
						<a href="#" class="sidebar_nav-item-link">
							<span class="title">Induction</span>
							<i class="symbol __lock">
								<svg viewBox="0 0 41 56" xmlns="http://www.w3.org/2000/svg"><g class="_tweening_" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd"><path d="M8.529 14.902l2.659-5.931c3.038-6.776 11.066-9.834 17.841-6.796 6.776 3.038 9.834 11.066 6.796 17.842l-2.659 5.931M33 55H8a7 7 0 0 1-7-7V26h39v22a7 7 0 0 1-7 7z"/><path d="M33 55H8a7 7 0 0 1-7-7h39a7 7 0 0 1-7 7zM9 31h5v12H9V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5"/></g></svg>
							</i>
						</a>
					</li>
					<li class="sidebar_nav-item">
						<a href="#" class="sidebar_nav-item-link">
							<span class="title">Subscription</span>
							<i class="symbol __lock">
								<svg viewBox="0 0 41 56" xmlns="http://www.w3.org/2000/svg"><g class="_tweening_" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd"><path d="M8.529 14.902l2.659-5.931c3.038-6.776 11.066-9.834 17.841-6.796 6.776 3.038 9.834 11.066 6.796 17.842l-2.659 5.931M33 55H8a7 7 0 0 1-7-7V26h39v22a7 7 0 0 1-7 7z"/><path d="M33 55H8a7 7 0 0 1-7-7h39a7 7 0 0 1-7 7zM9 31h5v12H9V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5"/></g></svg>
							</i>
						</a>
					</li>
					<li class="sidebar_nav-item">
						<a href="#" class="sidebar_nav-item-link">
							<span class="title">My account</span>
							<i class="symbol __lock">
								<svg viewBox="0 0 41 56" xmlns="http://www.w3.org/2000/svg"><g class="_tweening_" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd"><path d="M8.529 14.902l2.659-5.931c3.038-6.776 11.066-9.834 17.841-6.796 6.776 3.038 9.834 11.066 6.796 17.842l-2.659 5.931M33 55H8a7 7 0 0 1-7-7V26h39v22a7 7 0 0 1-7 7z"/><path d="M33 55H8a7 7 0 0 1-7-7h39a7 7 0 0 1-7 7zM9 31h5v12H9V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5"/></g></svg>
							</i>
						</a>
					</li>
					<li class="sidebar_nav-item">
						<a href="#" class="sidebar_nav-item-link">
							<span class="title">Security</span>
							<i class="symbol __lock">
								<svg viewBox="0 0 41 56" xmlns="http://www.w3.org/2000/svg"><g class="_tweening_" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd"><path d="M8.529 14.902l2.659-5.931c3.038-6.776 11.066-9.834 17.841-6.796 6.776 3.038 9.834 11.066 6.796 17.842l-2.659 5.931M33 55H8a7 7 0 0 1-7-7V26h39v22a7 7 0 0 1-7 7z"/><path d="M33 55H8a7 7 0 0 1-7-7h39a7 7 0 0 1-7 7zM9 31h5v12H9V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5"/></g></svg>
							</i>
						</a>
					</li>
					<li class="sidebar_nav-item">
						<a href="#" class="sidebar_nav-item-link">
							<span class="title">Import/Export</span>
							<i class="symbol __lock">
								<svg viewBox="0 0 41 56" xmlns="http://www.w3.org/2000/svg"><g class="_tweening_" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" fill-rule="evenodd"><path d="M8.529 14.902l2.659-5.931c3.038-6.776 11.066-9.834 17.841-6.796 6.776 3.038 9.834 11.066 6.796 17.842l-2.659 5.931M33 55H8a7 7 0 0 1-7-7V26h39v22a7 7 0 0 1-7 7z"/><path d="M33 55H8a7 7 0 0 1-7-7h39a7 7 0 0 1-7 7zM9 31h5v12H9V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5m4-8h5v12h-5V31zm0 4h5m-5 4h5"/></g></svg>
							</i>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</aside>

	<div class="app-primary _tweening_">
		<header id="header" class="header">
			<div class="-header- _clr_">
				<div class="header_collapsible-menu" (click)="collapsibleSidebar()"></div>

				<div class="header_user">
					<figure class="header_user-figure"></figure>
					<i class="header_user-symbol"></i>
				</div>

				<div class="header_utilities">
				</div>
			</div>
		</header>

		<main id="main" class="main">
		</main>
	</div>

</div>